{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <form action="{{ path('login') }}" method="post">
                    {#{% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('logout') }}">Logout</a>
                        </div>
                    {% endif %}#}
                    <label for="email">Adresse Mail</label>
                    <input type="text" id="email" name="_username" class="form-control mb-4" value="{{ last_username }}">
                    <label for="mdp">Mot de passe</label>
                    <input type="password" id="mdp" name="_password" class="form-control mb-4">
                    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                    <a type="button" class="btn btn-danger mb-3" href="{{path('logout')}}">SE DECONNECTER</a>
                    {% else %}
                    <input type="submit" class="btn btn-primary mb-3" value="SE CONNECTER">
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}