{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div class="row">
    <div class="col">
        {{ form_row(form.proLib) }}
    </div>
</div>

<div class="row">
    <div class="col">
        {{ form_row(form.proDescr) }}
    </div>
</div>

<div class="row">
    <div class="col">
        {{ form_row(form.proPrixAchat) }}
    </div>
</div>

<div class="row">
    <div class="col">
        {{ form_row(form.proPhoto) }}
    </div>
</div>

<div class="row">
    <div class="col">
        {{ form_row(form.proStock) }}
    </div>
</div>

<div class="row">
    <div class="col">
        {{ form_row(form.proActif) }}
    </div>
</div>

<div class="row">
    <div class="col">
        {{ form_row(form.proSRub) }}
    </div>
</div>

    <a type="button" class="btn btn-secondary" id="btn_retour" href="{{ path('produit_index') }}">RETOUR</a>
    <button class="btn btn-success" id="btn_ajouter">{{ button_label|default('AJOUTER') }}</button>

{{ form_end(form) }}