{% extends 'base.html.twig' %}

{% block title %}Notre catalogue{% endblock %}

{% block body %}
    <h1 class="text-center mb-5">Notre catalogue</h1>
    <div class="row d-flex justify-content-center grid">
        {% for produit in produits %}
            <div class="card text-center mb-2 ml-2 mr-2 {{ produit.proSRub }}">
                <div class="card-header bg-white {{ produit.proSRub }}">
                <img src="{{ asset('img/PRODUITS/')}}{{ produit.proPhoto }}" class="card-img-top" alt="photo_produit">
                </div>
            <div class="card-body {{ produit.proSRub }}">
                <h5 class="card-title">{{ produit.proLib }}</h5>
                    <p class="card-text">{{ produit.proPrixAchat }}&nbsp;&euro;</p>
            </div>
                <div class="card-footer {{ produit.proSRub }}">
                    <a href="{{ path('produit_show', {'proId' : produit.proId}) }}" type="button" class="btn btn-info">Détails</a>
                    <a href="{{ path('add_to_cart', {'id' : produit.proId}) }}" type="button" class="btn btn-success">Ajouter au panier</a>
                </div>
    </div>
        {% else %}
            <tr>
                <td colspan="8">Aucun article trouvé</td>
            </tr>
        {% endfor %}
    </div>
{#    <div class="row d-flex justify-content-center">#}
{#    {{ knp_pagination_render(produits) }}#}
{#    </div>#}
{% endblock %}
    

{#<div class="row d-flex justify-content-center">
Affichage de la pagination des produits
Mise en forme bootstrap avec la création du fichier knp_paginator.yaml dans config/packages
{{ knp_pagination_render(produits) }}
</div>#}

{% endblock %}